* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12px;
	font-family: Oswald;
}

a {
	text-decoration: none;
	color: #000;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

/* кнопка */
.btn {
			width: 15vw;
			padding: 1rem 0;
			margin: 0 0.8rem;
			font-size: 1.6rem;
			text-transform: uppercase;
			text-align: center;
			border-radius: 0.5rem;
			color: #fff;
			cursor: pointer;
			z-index: 6;
			transition: all 0.5s;
		}
/* Заголовок */
header {
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../img/header.jpg);
	background-size: cover;
	position: relative;
	&:before {
		content: "";
		background: #ccc;
		opacity: 0.4;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
	}
	h1 {
		margin-bottom: 2rem;
		text-transform: uppercase;
		color: #fff;
		font-size: 5rem;
		z-index: 3;
	}
	.btn-container {
		flex-direction: row;
		.html5-item {
			background: orange;
			box-shadow: 5px 5px 7px darken(orange, 15%);
			&:hover {
				box-shadow: 3px 3px 7px darken(orange, 30%);
			}
		}
		.css3-item {
			background: #2f8dee;
			box-shadow: 5px 5px 7px darken(#2f8dee, 15%);
			&:hover {
				box-shadow: 3px 3px 7px darken(#2f8dee, 30%);
			}
		}
		.js-item {
			background: #3fb310;
			box-shadow: 5px 5px 7px darken(#3fb310, 15%);
			&:hover {
				box-shadow: 3px 3px 7px darken(#3fb310, 30%);
			}
		}
	}
}

/* 1 секция. Инфо пользователя */
.info-container {
	width: 100%;
	flex-direction: row;
	justify-content: center;
	background: #f5f5f5;
	.description {
		width: 40%;
		padding: 2rem;
		border-right: 1px solid #808080;
		h2 {
			margin-bottom: 3rem;
			font-size: 2rem;
		}
		p {
			margin: 1.4rem 0;
			font-size: 1.4rem;
		}
	}
	.bg {
		width: 40%;
		position: relative;
		&:before {
			content:"";
			top: 3.2rem;
			bottom: 1rem;
			left: 4rem;
			right: 2.5rem;
			position: absolute;
			background: url(../img/abb.jpg);
			background-size: cover;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}
/* 2 секция - форма */
.form-container {
	padding: 3rem 4rem;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1.6rem;
	background: #525252;
	input {
		padding: 2rem 0 2rem 1rem;
		font-size: 1.5rem;
		font-weight: bold;
		border: none;
		background: #949494;
	}
	.btn-call {
		background: #2f8dee;
		box-shadow: 5px 5px 7px darken(#2f8dee, 15%);
		border: none;
		font-family: sans-serif;
		font-size: 2rem;
		text-transform: none;
		&:hover {
			box-shadow: 3px 3px 7px darken(#2f8dee, 30%);
		}
	}
}
/* 3 секция Портфолио */
.portfolio {
	padding: 1rem;
	grid-template-columns: repeat(3, 1fr);
	min-height: 25vh;
	grid-gap: 1rem;
	&-item {
		min-height: 25vh;
		padding: 1.4rem;
		cursor: pointer;
		position: relative;
		span {
			font-family: sans-serif;
			font-size: 1.8rem;
			color: #fff;
			font-weight: bold;
			z-index: 5;
		}
		&:before{
			content: "";
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: #808080;
			opacity: 0.3;
			transition: opacity 1s ease;
			position: absolute;
			z-index: 3;
		}
		&:nth-child(1){
			background: url(../img/1.jpg);
			background-size: cover;
			grid-column: 1/3;
		}
		&:nth-child(2){
			background: url(../img/2.jpg);
			background-size: cover;
		}
		&:nth-child(3){
			background: url(../img/3.jpg);
			background-size: cover;
		}
		&:nth-child(4){
			background: url(../img/4.jpg);
			background-size: cover;
			grid-column: 2/4;
		}
		&:nth-child(5){
			background: url(../img/5.png);
			background-size: cover;
			grid-column: 1/3;
			grid-row: 3/5;
		}
		&:nth-child(6){
			background: url(../img/6.png);
			background-size: cover;
		}
		&:nth-child(7){
			background: url(../img/7.jpg);
			background-size: cover;
		}
		&:nth-child(8){
			background: url(../img/8.jpg);
			background-size: cover;
			grid-column: 1/-1;
		}
	}
}
/* 4 секция Мой блог */

.my_blog{
	flex-direction: column;
	align-items: center;
	h2{
		width: 80%;
		font-size: 4rem;
		font-weight: bold;
		color: #808080;
	}
	.container{
		width: 80%;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
		.blog-item{
			grid-template-columns: repeat(1fr, 1fr);
			overflow: hidden;
			background-color: #f5f5f5;
			transition: background-color 0.3s ease;
			color: #808080;
			&:hover{
				background: #d9d9d9;
			}
			&:nth-child(1){
				grid-column: 1/2;
				.blog-item-img{
					height: 250px;
					background-size: cover;
    				background-position: center;
    				transition: transform 0.5s ease;
					background: url(../img/1.jpg);
					&:hover{
						transform: scale(1.1) translateY(-15px);
					}
				}
				.blog-item-description{
					h3{
						font-weight: bold;
						font-size: 1.6rem;
						
					}
					p{
						font-size: 1.4rem;
					}
				}
			}
			&:nth-child(2){
				grid-column: 2/3;
			}
			&:nth-child(3){
				grid-column: 3/5;
			}
			&:nth-child(4){
				grid-column: 1/3;
			}
			&:nth-child(5){
				grid-column: 3/4;
			}
			&:nth-child(6){
				grid-column: 4/5;
			}
		}
	}
}
